html{
    background-color: blue;
}
body{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: radial-gradient(blue, darkblue, black);
    margin: 0px;
}
h1{
    color: yellow;
    position: relative;
}
#startButton{
    position: relative;
    top: -60px;
    left: -225px;
}
#instructions{
    color: yellow;
    font-weight: 800;
    position: relative;
}
